<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <title> View Product</title>
</head>
<body>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h1><i>View Recipe</i></h1>
        <table border="2">
            <tr>
                <td>S.NO</td>
                <td>Mealtype</td>
                <td>Name</td>
                <td>Details</td>
                <td>File</td>
                <td colspan="2">Action</td>
            </tr>
            {% for i in  viewrecipedata %}
            <tr>
                <td>{{ forloop.counter}}</td>
                <td>{{ i.mealtype.mealtype_name}}</td>
                <td>{{ i.recipe_name}}</td>
                <td>{{ i.recipe_details}}</td>
                <td><img src="{{i.recipe_file.url}}" width="80" height="80"></td>
                <td>
                    <a href="{% url 'User:Viewingrediants' i.id %}">View ingrediants</a>
                </td>  
            </tr>
            {% endfor %}
        </table>
    </form>
</body>



</html>
<!-- {% if msg %}
<script>
    alert("{{msg}}")
    window.location = "{% url 'User:Viewproduct' %}"
</script>
{% endif %} -->